<ion-header>

    <ion-navbar>
        <ion-title>Enregistrez-vous !</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <div style="text-align: center;">
        <img src="assets/logo.png" style="max-width: 50%;" />
    </div>

    <h5>Création de compte</h5>
    <p>
        S'enregistrer sur Band Cochon ne prend que quelques secondes. Il vous suffit de choisir un nom d'utilisateur, d'entrer votre adresse mail de contact, votre mot de passe. Vous receverez un code par mail que vous entrerez.
    </p>

    <form>
        <ion-item>
            <ion-input type="text" [(ngModel)]="username" name="username" placeholder="Nom d'utilisateur"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="email" [(ngModel)]="email" name="title" placeholder="Addresse email"></ion-input>
        </ion-item>

        <ion-item>
            <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Mot de passe"></ion-input>
        </ion-item>
        <div padding-top>
            <button ion-button type="submit" (click)="createAccount()" block>Créer le compte</button>
        </div>
    </form>

    <h5>…ou bien, vous pouvez utiliser un réseau social</h5>
    <div padding-top>
        <button ion-button type="submit" block (click)="connectWithGoogle()" class="btn-google">Connexion avec Google</button>
    </div>
    <div padding-top padding-bottom>
        <button ion-button type="submit" block (click)="connectWithFacebook()" class="btn-facebook">Connexion avec Facebook</button>
    </div>


</ion-content>