<ion-content padding>
    <ion-tabs>
        <ion-tab tabIcon="home" tabTitle="Accueil" [root]="pictures"></ion-tab>
        <ion-tab tabIcon="camera" tabTitle="Prendre un photo" [root]="camera"></ion-tab>
        <ion-tab tabIcon="settings" tabTitle="Préférences" [root]="settings"></ion-tab>
    </ion-tabs>
</ion-content>