<ion-header>
    <ion-navbar>
        <ion-title>picture</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="!hasImagesToSend">
        <div class="logo">
            <img src="assets/logo.png" class="sad-logo" />
            <div padding-top>
                Vous n'avez aucune image en attente d'envoi.
            </div>
        </div>
    </div>
</ion-content>