<ion-header>
    <ion-navbar>
        <ion-title>
            Band Cochon
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="!networkError">
        <div style="text-align: center;">
            <img src="assets/logo.png" style="max-width: 50%;" />
        </div>
        <div *ngIf="displayConnectForm">
            <div>
                <p>Merci d'entrer votre adresse mail et votre mot de passe si vous avez un compte sur Band Cochon</p>
                <form>
                    <ion-item>
                        <ion-input type="email" [(ngModel)]="email" name="title" placeholder="Adresse email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" [(ngModel)]="password" name="password" placeholder="Mot de passe"></ion-input>
                    </ion-item>
                    <div padding-top>
                        <button ion-button type="submit" (click)="connect()" block>Connexion</button>
                    </div>
                </form>
            </div>
            <div padding-top>
                <button ion-button block color="light" type="submit" (click)="register()">Je n'ai pas de compte Band Cochon</button>
            </div>
        </div>
        <div *ngIf="!displayConnectForm">
            <ion-spinner></ion-spinner>
            <div text-center padding>
                Connexion à Band Cochon
            </div>
        </div>
    </div>
    <div *ngIf="networkError">
        <div style="text-align: center;">
            <img src="assets/logo-sad.png" style="max-width: 50%;" />
        </div>
        <p>
            L'application ne parvient pas à se connecter au serveur de Band Cochon.
        </p>
        <div padding-top>
            <button ion-button block (click)="tryToPing()">Ré-essayer de se connecter</button>
        </div>
    </div>
</ion-content>