<ion-header>

    <ion-navbar>
        <ion-title>Vos préférences</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label>
                Uniquement en WiFi <br>
                <small>
                Transmettre les photos uniquement quand <br>
                le terminal est connecté au WiFi
                </small>
            </ion-label>
            <ion-toggle [checked]="onlyWifi" (ionChange)="changeWifi()"></ion-toggle>
        </ion-item>

        <ion-item>
            <ion-label>
                Activer le GPS en permanence<br>
                <small>
                Cela permettra d'avoir des positionnements <br>
                plus précis surtout sur les appareils un peu anciens<br>
                mais risque de réduire l'autonomie du téléphone.
                </small>
            </ion-label>
            <ion-toggle [checked]="forceGPS" (ionChange)="changeGps()"></ion-toggle>
        </ion-item>
    </ion-list>
    <div padding-top>
        <button ion-button block (click)="disconnect()">Déconnexion</button>
    </div>
</ion-content>